<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GASALCOOL
    </ion-title>
    <ion-img   src="../../assets/icon.png" slot="start" class="icon"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h3 class="texto">Informação:</h3>
  <p>Quando o dono de um carro flex vai abastecer, ele já conhece aquela regrinha da diferença dos custos. Se o etanol estiver custando até 70% do custo da gasolina, ele vale mais a pena. Caso contrário, abastece com gasolina. Mas aí vem a dúvida: todos os motores respeitam essa regrinha dos 70%? Claro que não, esse percentual pode variar de 68, 69, até 71, 72%. A quem diga que pode ser alterado até para 75%. Como saber? Fazendo as continhas. É só abastecer o carro com gasolina e fazer a conta: quantos quilômetros ele andou com 1 litro de gasolina? Pois abastece com etanol, faz a mesma conta, quantos quilômetros por litro de etanol ele rodou. Se essa diferença de consumo for de 30%, vale então a regrinha dos 70% da diferença do custo. Se a diferença de consumo foi maior ou menor, ajuste a regrinha para esse percentual que você encontrou específico do seu carro.</p>
   <P>Fonte: Boris Feldman </P>
</ion-content>
