ion-content {

  --background: rgb(100,209,226) !important;
 background-size: cover ;

}
ion-toolbar {
  --background: rgb(100,209,226);
  --ion-color-base: transparent !important;
  box-shadow: none  
  
}
.icon{
  height: 50px;
  margin-left: 85% ;
  
}
