<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GASALCOOL
    </ion-title>
    <ion-img   src="../../assets/icon.png" slot="start" class="icon"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Sobre mim:</ion-card-subtitle>
      <ion-img src="../../assets/transferir.png" class="foto"></ion-img>
      <ion-card-title>Victor Matheus Teles</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     Versão basica de um projeto de aplicativo de gestão de dados em combustivel, esse app tem como finalidade de servir de treino para habilidades no ionic e teste de algumas apis (alem de gerar um aplicativo bacana é claro)<br>
   <br> <h1>contatos:</h1> 
     <a href="https://www.linkedin.com/in/victor-matheus-teles-da-silva-3470a1157/">Linkedin</a><br>
   <a href=":  https://github.com/TellesD">Github </a> 
    </ion-card-content>
  </ion-card>


</ion-content>
